site_description: Lambda GPU Cloud documentation
site_name: Lambda Docs [PROOF OF CONCEPT]
site_url: https://cbrownstein-lambda.github.io/lambda-docs-mkdocs/
theme:
  name: material
  features:
    - navigation.sections
    - navigation.tabs
    - navigation.top
    - navigation.expand
    - content.code.copy
      #    - toc.integrate
  palette:
    - media: "(prefers-color-scheme: light)"
      primary: custom
      scheme: default
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      primary: custom
      scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  logo: assets/images/lambda/lambda-docs-logo-light-mode.svg
  favicon: assets/images/lambda/lambda-logo.png
  custom_dir: overrides
nav:
  - Home: index.md
  - Public Cloud:
    - public-cloud/index.md
    - public-cloud/filesystems.md
    - public-cloud/firewalls.md
    - public-cloud/teams.md
    - public-cloud/cloud-api.md
    - public-cloud/lambda-chat-api.md
    - On-Demand:
      - public-cloud/on-demand/index.md
      - public-cloud/on-demand/getting-started.md
      - public-cloud/on-demand/dashboard.md
      - public-cloud/on-demand/billing.md
      - public-cloud/on-demand/guest-agent.md
    - 1-Click Clusters:
      - public-cloud/1-click-clusters/index.md
      - public-cloud/1-click-clusters/serving-llama-3_1-405b.md
      - public-cloud/1-click-clusters/security-posture.md
      - public-cloud/1-click-clusters/support.md
    - Additional resources:
      - 'Forum': 'https://deeptalk.lambdalabs.com/'
      - 'Blog': 'https://lambdalabs.com/blog'
      - 'YouTube': 'https://www.youtube.com/c/LambdaLabs'
      - 'Main site': 'https://lambdalabs.com/'
      - 'Tags index': 'tags.md'
    - We welcome your feedback!:
      # URL needs to change post migration
      - 'File an issue': 'https://github.com/cbrownstein-lambda/lambda-docs-mkdocs/issues/new/choose'
  - Private Cloud:
    - private-cloud/index.md
    - Managed Kubernetes:
      - private-cloud/managed-kubernetes/index.md
      - private-cloud/managed-kubernetes/getting-started.md
    - Additional resources:
      - 'Forum': 'https://deeptalk.lambdalabs.com/'
      - 'Blog': 'https://lambdalabs.com/blog'
      - 'YouTube': 'https://www.youtube.com/c/LambdaLabs'
      - 'Main site': 'https://lambdalabs.com/'
      - 'Tags index': 'tags.md'
    - We welcome your feedback!:
      # URL needs to change post migration
      - 'File an issue': 'https://github.com/cbrownstein-lambda/lambda-docs-mkdocs/issues/new/choose'
  - Hardware:
      - hardware/index.md
      - Servers:
          - hardware/servers/getting-started.md
      - Workstations:
          - hardware/workstations/getting-started.md
          - hardware/workstations/troubleshooting.md
      - Additional resources:
        - 'Forum': 'https://deeptalk.lambdalabs.com/'
        - 'Blog': 'https://lambdalabs.com/blog'
        - 'YouTube': 'https://www.youtube.com/c/LambdaLabs'
        - 'Main site': 'https://lambdalabs.com/'
        - 'Tags index': 'tags.md'
      - We welcome your feedback!:
        # URL needs to change post migration
        - 'File an issue': 'https://github.com/cbrownstein-lambda/lambda-docs-mkdocs/issues/new/choose'
  - Education:
    - education/index.md
    - education/tutorial-getting-started-with-training-a-machine-learning-model.md
    - Generative AI (GAI):
      - education/generative-ai/flux-prompt-to-image.md
    - Large language models (LLMs):
      - education/large-language-models/deploying-a-llama-3-inference-endpoint.md
      - education/large-language-models/deploying-llama-3.2-3b-in-a-kubernetes-k8s-cluster.md
      - education/large-language-models/how-to-serve-the-llama-3.1-8b-and-70b-models-using-lambda-cloud-on-demand-instances.md
      - education/large-language-models/serving-llama-3-1-405b.md
      - education/large-language-models/serving-llama-3-1-docker.md
    - Linux usage and system administration:
      - education/linux-usage/basic-linux-commands-and-system-administration.md
      - education/linux-usage/configuring-software-raid.md
      - education/linux-usage/lambda-stack-and-recovery-images.md
      - education/linux-usage/troubleshooting-and-debugging.md
      - education/linux-usage/using-the-lambda-bug-report-to-troubleshoot-your-system.md
      - education/linux-usage/using-the-nvidia-bug-report.log-file-to-troubleshoot-your-system.md
    - Programming:
      - education/programming/virtual-environments-containers.md
      - education/programming/vs-code-lambda-chat.md
    - Scheduling and orchestration:
      - education/scheduling-and-orchestration/deploying-models-with-dstack.md
      - education/scheduling-and-orchestration/skypilot-deploy-kubernetes.md
    - Additional resources:
      - 'Forum': 'https://deeptalk.lambdalabs.com/'
      - 'Blog': 'https://lambdalabs.com/blog'
      - 'YouTube': 'https://www.youtube.com/c/LambdaLabs'
      - 'Main site': 'https://lambdalabs.com/'
      - 'Tags index': 'tags.md'
    - We welcome your feedback!:
      # URL needs to change post migration
      - 'File an issue': 'https://github.com/cbrownstein-lambda/lambda-docs-mkdocs/issues/new/choose'

markdown_extensions:
  - admonition
  - attr_list
  - md_in_html
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
      options:
        custom_icons:
          - overrides/.icons
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.keys
  - pymdownx.snippets
  - pymdownx.superfences:
      custom_fences:
        - name: vegalite
          class: vegalite
          format: !!python/name:mkdocs_charts_plugin.fences.fence_vegalite
  - pymdownx.tabbed:
      alternate_style: true
      slugify: !!python/object/apply:pymdownx.slugs.slugify
        kwds:
          case: lower
  - sane_lists
  - tables
  - toc:
      permalink: "#"
plugins:
  - charts
  - glightbox:
      skip_classes:
        - skip-lightbox
  - include-markdown
  - search
  - social
  - redirects:
      redirect_maps:
        'one-click-clusters/getting-started.md': 'public-cloud/1-click-clusters/getting-started.md'
        'on-demand-cloud/getting-started.md': 'public-cloud/on-demand/getting-started.md'
        'on-demand-cloud/using-skypilot-to-deploy-a-kubernetes-cluster.md': 'education/scheduling-and-orchestration/skypilot-deploy-kubernetes.md'
        'on-demand-cloud/team.md': 'public-cloud/teams.md'
        'on-demand-cloud/deploying-llama-3.2-3b-in-a-kubernetes-k8s-cluster.md': 'education/large-language-models/deploying-llama-3.2-3b-in-a-kubernetes-k8s-cluster.md'
        'on-demand-cloud/integrating-lambda-chat-into-vs-code.md': 'education/programming/vs-code-lambda-chat.md'
        'on-demand-cloud/how-to-serve-the-flux.1-prompt-to-image-models-using-lambda-cloud-on-demand-instances.md': 'education/generative-ai/flux-prompt-to-image.md'
        'on-demand-cloud/firewall.md': 'public-cloud/firewalls.md'
        'on-demand-cloud/cloud-api.md': 'public-cloud/cloud-api.md'
        'on-demand-cloud/overview.md': 'public-cloud/on-demand/index.md'
        'on-demand-cloud/demos.md': 'public-cloud/on-demand/demos.md'
        'on-demand-cloud/tutorial-getting-started-with-training-a-machine-learning-model.md': 'education/tutorial-getting-started-with-training-a-machine-learning-model.md'
        'on-demand-cloud/deploying-a-llama-3-inference-endpoint.md': 'education/large-language-models/deploying-a-llama-3-inference-endpoint.md'
        'on-demand-cloud/using-the-lambda-chat-completions-api.md': 'public-cloud/lambda-chat-api.md'
        'on-demand-cloud/billing.md': 'public-cloud/on-demand/billing.md'
        'on-demand-cloud/getting-started.md': 'public-cloud/on-demand/getting-started.md'
        'on-demand-cloud/dashboard.md': 'public-cloud/on-demand/dashboard.md'
        'on-demand-cloud/how-to-serve-the-llama-3.1-8b-and-70b-models-using-lambda-cloud-on-demand-instances.md': 'education/large-language-models/how-to-serve-the-llama-3.1-8b-and-70b-models-using-lambda-cloud-on-demand-instances.md'
        'on-demand-cloud/deploying-models-with-dstack.md': 'education/scheduling-and-orchestration/deploying-models-with-dstack.md'
        'on-demand-cloud/file-systems.md': 'public-cloud/filesystems.md'
        'tensorbook/getting-started.md': 'hardware/tensorbook/getting-started.md'
        'workstations/troubleshooting-workstations-and-desktops.md': 'hardware/workstations/troubleshooting.md'
        'workstations/getting-started.md': 'hardware/workstations/getting-started.md'
        'software/virtual-environments-and-docker-containers.md': 'education/programming/virtual-environments-containers.md'
        'software/using-the-lambda-bug-report-to-troubleshoot-your-system.md': 'education/linux-usage/using-the-lambda-bug-report-to-troubleshoot-your-system.md'
        'software/using-the-nvidia-bug-report.log-file-to-troubleshoot-your-system.md': 'education/linux-usage/using-the-nvidia-bug-report.log-file-to-troubleshoot-your-system.md'
        'software/basic-linux-commands-and-system-administration.md': 'education/linux-usage/basic-linux-commands-and-system-administration.md'
        'software/troubleshooting-and-debugging.md': 'education/linux-usage/troubleshooting-and-debugging.md'
        'software/lambda-stack-and-recovery-images.md': 'education/linux-usage/lambda-stack-and-recovery-images.md'
        'software/configuring-software-raid.md': 'education/linux-usage/configuring-software-raid.md'
        'servers/getting-started.md': 'hardware/servers/getting-started.md'
        '1-click-clusters/serving-llama-3.1-405b-on-a-lambda-1-click-cluster.md': 'education/large-language-models/serving-llama-3-1-405b.md'
        '1-click-clusters/getting-started.md': 'public-cloud/1-click-clusters/getting-started.md'
        '1-click-clusters/security-posture.md': 'public-cloud/1-click-clusters/security-posture.md'
  - tags:
      tags_file: tags.md
extra_css:
  - assets/css/extra.css
  - assets/css/glightbox.min.css
extra_javascript:
  - assets/js/glightbox.min.js
  - assets/js/docs-landing-page.js
  - https://cdn.jsdelivr.net/npm/vega@5
  - https://cdn.jsdelivr.net/npm/vega-lite@5
  - https://cdn.jsdelivr.net/npm/vega-embed@6
  - https://js.hs-scripts.com/21998649.js
extra:
  social:
    - icon: fontawesome/brands/x-twitter
      link: https://x.com/LambdaAPI
    - icon: fontawesome/brands/linkedin-in
      link: https://www.linkedin.com/company/lambda-labs
  analytics:
    provider: google
    property: G-43EZT1FM6Q
