.lambda {
    color: #4027FF;
}
.md-header {
    background-color: #FFFFFF;
    color: #000000;
}

[data-md-color-scheme="default"] {
    --md-admonition-fg-color: #000000;
    --md-default-bg-color: #FFFFFF;
    --md-default-fg-color: #000000;
    --md-default-fg-color--light: #000000;
    --md-default-fg-color--lightest: #000000;
    --md-primary-fg-color: #6F5CFF;
    --md-typeset-color: #000000;
    .md-nav--primary .md-nav__title {
        color: #FFFFFF;
    }
    .md-tabs {
        background-color: #FFFFFF;
        color: #000000;
    }
    .md-typeset h1 {
        color: #000000;
        font-weight: 900;
    }
    .md-typeset h2 {
        color: #000000;
        font-weight: 600;
    }
    .md-typeset .md-tag {
        background-color: #000000;
        color: #FFFFFF;
    }
}


[data-md-color-scheme="slate"] {
    --md-admonition-fg-color: #FFFFFF;
    --md-default-bg-color: #000000;
    --md-default-fg-color: #FFFFFF;
    --md-default-fg-color--light: #FFFFFF;
    --md-default-fg-color--lightest: #FFFFFF;
    --md-primary-fg-color: #6F5CFF;
    --md-typeset-color: #FFFFFF;
    .md-tabs {
        background-color: #F9F9F9;
        color: #000000;
    }
    .md-typeset h1 {
        font-weight: 900;
    }
    .md-typeset h2 {
        font-weight: 600;
    }
    .md-typeset .md-tag {
        background-color: #FFFFFF;
        color: #000000;
    }
}

.ll-card-wrapper > a,
.ll-card-wrapper > a:hover {
    all: unset;
    cursor: pointer;
}

# search box hover color
@media screen and (min-width: 60em) {
    .md-search__form:hover {
          background-color: #00000042;
    }
}